{% extends 'base.html.twig' %}

{% block title %}SUBSKILL{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Mes offres d'emploies</h1>

    {% for jobAnnouncement in jobAnnouncements %}
    <p>{{jobAnnouncement.id}}</p>
    {% endfor %}

</div>
{% endblock %}
